main{
    position: absolute;
    width: 50%;
    left: 25%;
    right: 30%;
    height: 50%;
    
    
}

.btn{
    background-color: rgb(70, 0, 128);
    color: white;
    border-radius: 10px;
    width:fit-content;
    height: 1.8rem;
}

.btn:hover{
    background-color: rgb(166, 190, 228);
    color: black;
    height: 1.8rem;
}

.inline{
    display: inline-block;
}

#right{
    position: absolute;
    top: 0;
    right: 40px; 
}

li{
   list-style-type: none;
   height: fit-content;
   
   
}

ul:before{
    content:attr(aria-label);
    font-size: 140%;
    font-weight:bold;
    margin-left:-15px;
    
    
}

p{
    font-size: 2.5rem;
}

#result{
    position: relative;
    top:30%;
    text-align: center;
}

#todo-list li{
    background-color: rgb(189, 165, 209) ;
    font-size: 1.5rem;
    
    line-height: 20px;
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    margin: 0;

}

body{
background-color: #fafafa;
  margin: 1rem;
  padding: 1rem;
  border: 2px solid #ccc;
  /* IMPORTANTE */
  text-align: center;
}



/* When using `max-width` as the breakpoint, you must go from widest to narrowest to avoid conflict */

/* Tablets - header changes color */
@media screen and (max-width: 992px) {
    #result{
        position: relative;
        bottom:42%;
    }

    .btn{
        background-color: rgb(163, 20, 132);
    }

    #todo-list li{
        background-color: rgb(235, 182, 223) ;
        font-size: 1.3rem;
       
    }

}
  
  /* Large smartphones - navbar changes color */
@media screen and (max-width: 768px) {
    #result{
        position: relative;
        top:35%;
    }

    .btn{
      
        background-color: rgb(0, 30, 128);
    }

    #todo-list li{
        background-color: rgb(147, 166, 229) ;
        font-size: 1.2rem;
    
    }

    p{
        font-size: 1.5rem;
        
    }
}
  
  /* Small smartphones - image placeholders change color */
@media screen and (max-width: 576px) {
    #result{
        position: relative;
        top:40%;
    }

    .btn{
        background-color: rgb(4, 53, 8);
    }

    p{
        font-size: 1.5rem;
    }

    #todo-list li{
        background-color: rgb(157, 194, 159) ;
        font-size: 1rem;
    }

  }
  


